body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111;
  color: white;
  font-family: Arial;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
}

.tile {
  width: 100px;
  height: 100px;
  background: #149cbe;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;
}

.tile:hover {
  background: #800e76;
}

.empty {
  background: rgb(72, 9, 155);
  cursor: default;
}